[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
motor = "*"
aiosmtpd = "*"
pyjwt = "*"
python-multipart = "*"
passlib="*"
bcrypt="4.0.1"
pydantic-settings = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
